In [ ]:
# Import the required packages

# <u>**Problem 1**</u>

### You are given a list of urls. You need to extract the domain name from the urls in another list. Also you need to extract the ending string which the url ends with.

### For example, https://www.example.com/market.php -- In this example, domain name is <code>www.example.com</code> and the ending string is <code>php</code>

In [1]:
# List of urls
url_list = ['https://blog.hubspot.com/marketing/parts-url',
            'https://www.suretrust.com/enrollments',
            'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html',
            'https://www.programiz.com/python-programming/list']

In [2]:


for url in url_list:
    parts = url.split('/')
    domain = parts[2]  
    ending_string = parts[-1] 

    print(f"URL: {url}")
    print(parts)
    
    print(f"Domain: {domain}")
    print(f"Ending String: {ending_string}\n")

URL: https://blog.hubspot.com/marketing/parts-url
['https:', '', 'blog.hubspot.com', 'marketing', 'parts-url']
Domain: blog.hubspot.com
Ending String: parts-url

URL: https://www.suretrust.com/enrollments
['https:', '', 'www.suretrust.com', 'enrollments']
Domain: www.suretrust.com
Ending String: enrollments

URL: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html
['https:', '', 'pandas.pydata.org', 'pandas-docs', 'stable', 'reference', 'api', 'pandas.DataFrame.rename.html']
Domain: pandas.pydata.org
Ending String: pandas.DataFrame.rename.html

URL: https://www.programiz.com/python-programming/list
['https:', '', 'www.programiz.com', 'python-programming', 'list']
Domain: www.programiz.com
Ending String: list

## Next create a pandas dataframe with the above three lists.

In [4]:
import pandas as pd
urls = [
    'https://blog.hubspot.com/marketing/parts-url',
    'https://www.suretrust.com/enrollments',
    'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html',
    'https://www.programiz.com/python-programming/list'
]

domains = [
    'blog.hubspot.com',
    'www.suretrust.com',
    'pandas.pydata.org',
    'www.programiz.com'
]

ending_strings = [
    'parts-url',
    'enrollments',
    'pandas.DataFrame.rename.html',
    'list'
]

# Your code here. Hint : zip the three lists
list_of_tuples = list(zip(urls,domains,ending_strings))

# Create the dataframe and name the columns as 'Url', 'Domain', 'Ending_string'
url_info_frame = pd.DataFrame(list_of_tuples,columns=['Url','Domain','Ending_string'])

# Print the dataframe
print(url_info_frame)

                                                 Url             Domain  \
0       https://blog.hubspot.com/marketing/parts-url   blog.hubspot.com
1              https://www.suretrust.com/enrollments  www.suretrust.com
2  https://pandas.pydata.org/pandas-docs/stable/r...  pandas.pydata.org
3  https://www.programiz.com/python-programming/list  www.programiz.com

                  Ending_string
0                     parts-url
1                   enrollments
2  pandas.DataFrame.rename.html
3                          list

# Problem 2

### **Problem Statement:**
You are given sales data for a small electronics store. The store sells various products like laptops, smartphones, and tablets. Your task is to create a pandas DataFrame from scratch using the given data and perform some basic analysis.

#### **Instructions:**
1. Create a pandas DataFrame with the following columns:
   - `'Product'`: Name of the product  
   - `'Category'`: Type of product (Laptop, Smartphone, Tablet)  
   - `'Price'`: Price of the product (in USD)  
   - `'Units Sold'`: Number of units sold  

2. Use the following data to populate the DataFrame:  

   | Product              | Category    | Price | Units Sold |
   |----------------------|------------|-------|------------|
   | MacBook Air         | Laptop     | 999   | 35         |
   | Dell XPS 13         | Laptop     | 1199  | 25         |
   | iPhone 14           | Smartphone | 799   | 50         |
   | Samsung Galaxy S23  | Smartphone | 899   | 40         |
   | iPad Pro            | Tablet     | 1099  | 30         |

3. **Perform Basic Analysis on the DataFrame**:
   - Print the first 5 rows of the DataFrame.
   - Print the number of rows and columns.
   - Print the number of elements in the dataframe.
   - Print the column names.
   - Check for missing values.
   - Print basic statistics.

---

In [ ]:
import pandas as pd
data={
'Product':['MacBook Air','Dell XPS 13','iPhone 14','Samsung Galaxy S23','iPad Pro'],
'Category':['Laptop','Laptop','Smartphone','Smartphone','Tablet'],
'Price':[999,1199,799,899,1099],
'Units Sold':[35,25,50,40,30]
}
df=pd.DataFrame(data,columns=['Product','Category','Price','Units Sold'])
print(df)

              Product    Category  Price  Units Sold
0         MacBook Air      Laptop    999          35
1         Dell XPS 13      Laptop   1199          25
2           iPhone 14  Smartphone    799          50
3  Samsung Galaxy S23  Smartphone    899          40
4            iPad Pro      Tablet   1099          30

In [15]:

print(df.head(5))

              Product    Category  Price  Units Sold
0         MacBook Air      Laptop    999          35
1         Dell XPS 13      Laptop   1199          25
2           iPhone 14  Smartphone    799          50
3  Samsung Galaxy S23  Smartphone    899          40
4            iPad Pro      Tablet   1099          30

In [23]:

print(f"Shape of the DataFrame (rows,colums): {df.shape}")

Shape of the DataFrame (rows,colums): (5, 4)

In [22]:

print(f"Total number of elements in the DataFrame : {df.size}")

Total number of elements in the DataFrame : 20

In [33]:

print(f"Missing values in each column:\n{df.isnull().sum()}")

Missing values in each column:
Product       0
Category      0
Price         0
Units Sold    0
dtype: int64

In [28]:
print(f"Summary Statistics of numerical columns:\n{df.describe()}")

Summary Statistics of numerical columns:
             Price  Units Sold
count     5.000000    5.000000
mean    999.000000   36.000000
std     158.113883    9.617692
min     799.000000   25.000000
25%     899.000000   30.000000
50%     999.000000   35.000000
75%    1099.000000   40.000000
max    1199.000000   50.000000

---

### **Expected Output:**
```
First 5 rows of the DataFrame:
             Product    Category  Price  Units Sold
0     MacBook Air     Laptop    999         35
1     Dell XPS 13     Laptop   1199         25
2     iPhone 14   Smartphone    799         50
3     Samsung Galaxy S23  Smartphone    899         40
4     iPad Pro        Tablet   1099         30

Shape of the DataFrame (rows, columns): (5, 4)

Total number of elements in the DataFrame: 20

Column names: ['Product', 'Category', 'Price', 'Units Sold']

Missing values in each column:
Product       0
Category      0
Price         0
Units Sold    0
dtype: int64

Summary statistics of numerical columns:
             Price  Units Sold
count     5.000000   5.000000
mean   999.000000  36.000000
std    146.759473   9.354143
min    799.000000  25.000000
25%    899.000000  30.000000
50%    999.000000  35.000000
75%   1099.000000  40.000000
max   1199.000000  50.000000
```